name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # TEST BACKEND
      - name: Install Backend Dependencies
        working-directory: ./portfolio-v2/server-api
        run: npm ci

      - name: Run Backend Tests
        working-directory: ./portfolio-v2/server-api
        run: npm test
        env:
          CI: true

      #  TEST FRONTEND
      - name: Install Frontend Dependencies
        working-directory: ./portfolio-v2
        run: npm ci

      - name: Run Frontend Tests
        working-directory: ./portfolio-v2
        run: npm test -- --watchAll=false
        env:
          CI: true

      - name: Build
        working-directory: ./portfolio-v2
        run: npm run build

      - name: Upload artifact (GitHub Pages)
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./portfolio-v2/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.pages_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4